ng-image-slider {
  border: 2px solid black;
  padding-top: 100px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 30px black;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.myslider > img {
  border-radius: 20px;
  border: 1px solid black;
}
