<div class="col-md-3 col-sm-6 footer-col" style="max-width: 25%">
  <div class="logofooter"> <img src="assets/images/logo.png" id="logo" style="max-width: 80px;" /></div>
  <p style="text-align: justify;">FitnessMerchant is a bodybuilding and fitness shop that it's sole purpouse is to satisfy customer needs, primeraly their passion for healthy and long lasting life. Here at FitnessMerchant we will help you achieve that goal.</p>
  <p><i class="fa fa-map-pin"></i> bul. Ilindenska/4 - Skopje, Macedonia</p>
  <p><i class="fa fa-phone"></i> Phone (NMK) : +389 70-544/455</p>
  <p><i class="fa fa-envelope"></i> E-mail : fitnessmerchant@gmail.com</p>

</div>
<div class="col-md-3 col-sm-6 footer-col" style="padding-left: 60px;">
  <h6 class="heading7">General links</h6>
  <ul class="footer-ul" style="text-align:left;">
      <li><a href="/Home/Contact"> <u>Contact</u></a></li>
      <li><a href="#"><u>Products</u> </a></li>
      <li><a href="#"><u>List of Sponsors</u> </a></li>
      <li><a href="#"><u>Outlets</u></a></li>
  </ul>
</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">Latest blogs</h6>
  <div class="post">
      <p>Best workouts for muscle gain.<span> August 28,2020</span></p>
      <p>Are steroids bad for your health? <span>September 5,2020</span></p>
      <p>How to properly do deadlift. <span>December 1,2020</span></p>
  </div>
</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">Social Media</h6>
  <ul class="footer-social">
      <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
      <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
  </ul>
</div>
