<div class="col-lg-6 box">
  <a routerLink="/supplements">SUPPLEMENTS
    <span><img src="assets/images/supp.png" /></span>
  </a>
</div>
<div class="col-lg-6 box">
  <a href="#sponsors">BRANDS
    <span><img src="assets/images/optimumnutrition.png" /></span>
  </a>
</div>
<div class="col-lg-6 box">
  <a routerLink="/gear">GEAR
    <span><img src="assets/images/dum.png" /></span>
  </a>
</div>
<div class="col-lg-6 box">
  <a routerLink="/programs">WORKOUT
    <span><img src="assets/images/work.png" /></span>
  </a>
</div>
