<div class="container-fluid" style="margin: 0; padding: 0">
  <div class="carousel-container">
    <app-carousel></app-carousel>
  </div>
  <div class="row menu-navigation" style="margin-top: 100px">
    <app-menu-navigation></app-menu-navigation>
  </div>
  <div class="row" style="margin-top: 100px">
    <app-onsale-banners></app-onsale-banners>
  </div>
  <div class="row topsale">
    <app-onsale-products></app-onsale-products>
  </div>
  <div class="row sponsors" id="sponsors">
    <img src="assets/images/sponsors.png" style="width: 40%" />
  </div>
  <div class="row" style="margin-top: 50px">
    <app-slider-brands></app-slider-brands>
  </div>
</div>
