.imgBanner {
  padding: 50px 0px 50px 0px;
  text-align: center;
}

 .topsale {
  opacity: 0.9;
  background-image: linear-gradient(to right, #a64e4e , #ffc13b);
  padding: 50px;
  box-shadow: 2px 2px 30px #a6744e;
 }

 .sponsors {
  margin-top:150px; text-align: center;
 }

.menu-navigation {
  margin-top: 300px !important;
}

.carousel-container {
  margin-top: 50px;
  margin-bottom: -50px;
}