<div class="container-fluid" style="margin: 0; padding: 0; position: relative;">
    <div class="carousel-container">
    
      <!-- Main Carousel (Foreground) -->
      <ng-image-slider class="foreground" 
                       [images]="imageObject"
                       [infinite]="true"
                       [animationSpeed]=3
                       [slideImage]=1
                       [showArrow]="true"
                       [imageSize]="{width: '100%', height: '600px', space: 0}"
                       [autoSlide]="true" #nav></ng-image-slider>
    </div>
  </div>
  