<div class="container">
    <h2>Login</h2>
    <hr style="border: 1px solid black">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" class="form-control" />
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <button type="submit" class="btn btn-primary">Log In</button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-secondary" (click)="navigateToRegister()">Create a new account</button>
    </form>
  </div>
  