<div>
    <h3>{{ brandUid ? 'Edit' : 'Add' }} Brand</h3>
    <form [formGroup]="brandForm" (ngSubmit)="saveForm()">
      <table class="table table-hover">
        <tr>
          <td>Name</td>
          <td>
            <input type="text" placeholder="Enter a name..." class="form-control" formControlName="name">
          </td>
        </tr>
        <tr>
            <td>Logo Url</td>
            <td>
              <input type="text" placeholder="Enter a logo url..." class="form-control" formControlName="logoUrl">
            </td>
        </tr>
        <tr>
            <td>Link for Website</td>
            <td>
              <input type="text" placeholder="Enter a link..." class="form-control" formControlName="link">
            </td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-warning" (click)="clearForm()"><i class="fas fa-times"></i> Clear</button>
          </td>
          <td>
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  