<div *ngIf="program" class="card">
  <div class="row">
    <div class="col-md-6 pad-left">
      <a class="program-img-wrapper" href="{{ program.videoLink }}" target="_blank">
        <img class="program-img" src="{{ program.thumbnailLink }}" alt="{{ program.title }}">
        <div class="play-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
            <polygon class="play-btn__svg" points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69"/>
            <path class="play-btn__svg" d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z"/>
          </svg>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <h1 class="program-heading">{{ program.title }}</h1>
      <div class="interaction">
        <i class="fas fa-thumbs-up like-icon" (click)="handleLike()"></i> {{ program.likes }}
        <i class="fas fa-thumbs-down dislike-icon" (click)="handleDislike()"></i> {{ program.dislikes }}
      </div>
      <p class="desc" [ngClass]="{'show-less': showShortDesciption}">{{ description }}</p>
      <button type="button" (click)="alterDescriptionText()" class="toggle-btn">
        {{ showShortDesciption ? 'Show more' : 'Show less' }}
      </button>
    </div>
  </div>
</div>
