.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.row {
  margin-top: 50px;
}

h2 {
  padding: 15px;
  border-bottom: 1px solid black;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 250px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(237, 237, 237);
}

th,
td {
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

th {
  background: rgb(194, 192, 192);
  font-weight: 900;
}

td img {
  width: 50px;
  height: auto;
}

tbody button {
  margin: 0 5px;
}

@media (max-width: 768px) {
  h2 {
    flex-direction: column;
    text-align: center;
  }

  .search-input {
    width: 100%;
    margin-top: 10px;
  }

  th,
  td {
    font-size: 12px;
  }

  td img {
    width: 40px;
  }

  .btn {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  th,
  td {
    font-size: 10px;
  }

  td img {
    width: 30px;
  }

  .btn {
    font-size: 10px;
  }
}
